<div ng-controller="tscAuthorsCtrl as vm" ng-init="vm.activate()">

	<section class="container grid-960">
    
    	<div class="columns" ng-repeat="(key, value) in vm.authors">
    		<div class="column col-12" >
		        <div class="card">

		        	<div class="card-header">
		        	    <h4 class="card-title">{{value.first_name}} {{value.last_name}}</h4>
		        		<h6 class="card-meta">{{value.organisation}}</h6>
		        	</div>
		        	<div class="card-body">
		        		<figure class="avatar avatar-xl">
    						<img ng-src="{{value.images.portrait}}" />
						</figure>
					</div>

					<div class="authorout" ng-hide="bShow" >
						<ul ng-repeat="article in value.articles">
							<i class="fa fa-file-text-o" aria-hidden="true"></i> {{article.headline}} {{article.published.date}}
						</ul>
					</div>
					<div class="authorout" ng-hide="bShow">
						<ul ng-repeat="these in value.theses">
							<i class="fa fa-bullhorn" aria-hidden="true"></i> {{these.text}} 
						</ul>
					</div>
					<div class="authorout" ng-hide="bShow">
						<ul ng-repeat="vote in value.votes">
							<i ng-if="vote.vote > 0" class="fa fa-thumbs-o-up" aria-hidden="true"></i> 
							<i ng-if="vote.vote < 0" class="fa fa-thumbs-o-down" aria-hidden="true"></i> 
							{{vote.thesis_text}} 
						</ul>
					</div>

		    		<!--div class="card-footer">
		        		<a class="btn btn-default" href="">zeig alles</a>
		    		</div-->
				</div>
			</div>
		</div>
	</section>

	<br/>
	<hr/>
	{{vm.authors}}
</div>