<div ng-controller="tscAuthorsCtrl as vm" ng-init="vm.activate()">

	<section class="container grid-960">
    
    	<div class="columns" ng-repeat="(key, value) in vm.authors">
    		<div class="column col-12" >
		        <div class="card">

		        	<div class="card-header">
		        	    <h4 class="card-title">{{value.first_name}} {{value.last_name}}</h4>
		        		<h6 class="card-meta">{{value.organisation}}</h6>
		        	</div>
		        	<div class="card-body">
		        		<figure class="avatar avatar-xl">
    						<img ng-src="{{value.images.portrait}}" />
						</figure>
					</div>

					<ul class="tab tab-block">
						<li class="tab-item" ng-click="!bShow = bShow"><a>Article</a></li>
						<li class="tab-item" ng-click="bShow = !bShow"><a>Theses</a></li>
						<!--li class="tab-item"><a>zugestimmt</a></li>
						<li class="tab-item"><a>abgelehnt</a></li-->
					</ul>


					<div class="authorout" ng-show="bShow" >
						<ul ng-repeat="article in value.articles">
							<li>{{article.headline}} {{article.published.date}}</li>
						</ul>
					</div>
					<div class="authorout" ng-show="bShow">
						<ul ng-repeat="these in value.theses">
							<li>{{theses}} </li>
						</ul>
					</div>


		    		<!--div class="card-footer">
		        		<a class="btn btn-default" href="">zeig alles</a>
		    		</div-->
				</div>
			</div>
		</div>
	</section>

	<br/>
	<hr/>
	{{vm.authors}}
</div>