<div ng-controller="tscDebatesCtrl as vm" ng-init="vm.activate()">
    
	
	<!--span class="badge" data-badge="{{vm.debattes.length}}">
	    {{vm.topicId}}
	</span-->


	<!--ul class="dp-debate-statistics">
		<li>

			
		</li>
	</ul-->
	<section class="container grid-960">
		<h3>
			<i class="fa fa-comments" aria-hidden="true"></i>
			Debatten in {{vm.debattes.topic_title}}:
			<figure class="avatar avatar-lg" data-initial="{{vm.debattes.length}}" style="background-color: #5764c6;"></figure> 
		</h3>
	</section>

    <section class="container grid-960">
    
    	<div class="columns" ng-repeat="(key, value) in vm.debattes">
    		<div class="column col-12">
		        
		        <div class="card" ng-class="vm.class">
			        
					<d3bubble-me chart-data="10,20,30,40,60"></d3bubble-me>

			        <figure class="card-front">
			        	<div class="card-header">
			        		<a class="btn" ng-click="vm.flip()"> flip</a>

			        		<!--h5 class="card-meta"><i class="fa fa-comments" aria-hidden="true"></i>Debatte</h5--> 
			        	    <h4 class="card-title">{{value.title}}</h4>
			        		<h6 class="card-meta">{{value.published.date}}</h6>
			        	</div>
			        	<div class="card-body">{{value.teaser}} ...</div>
			    		<div class="card-footer">
			        		<a class="btn btn-default" href="#articles/{{value.id}}">zu den Artikeln ... </a>
			    		</div>
		    		</figure>

		    		<figure class="card-back">
		    			chart
		    		</figure>

				</div>
			</div>
		</div>
	</section>

	<!--div class="row">
		<svg class="column col-12">
			<circle cx="25" cy="25" r="25" fill="purple" />

		</svg>
	</div-->

	<br>
	<hr>
	{{vm.debattes}}
</div>