<div ng-controller="tscMatrixViewCtrl as vm" ng-init="vm.activate()">
    

	<section id="debates" >
		<div ng-show="!vm.bDebateSelected">

    		<!-- the moving indicator -->
    		<div id="indicator-debates" class="indicator" ng-style=vm.indicatorStyle ng-hide="vm.bDebateSelected">
				<div class="indicator-line indicator-black"></div>
				<div class="indicator-highlight indicator-black" ng-style=vm.indicatorStyleHighlight></div>
			</div>

			<!-- debates overview - should be a own angular view for better 'back' button navigation in mobil -->
	    	<div ng-repeat="(key, val) in vm.debates" ng-hide="vm.bDebateSelected">

				<div class="matrix-row" ng-click="vm.showArticlesMatrix(key)">
					<div class="indicator-topic">{{val.topic_title}}</div>
					<pd ng-mouseenter="vm.paintIndicator($event)">{{val.title}}</pd>
				</div>
			</div>
		</div>

		<!-- the selected debate -->
		<div ng-show="vm.bDebateSelected" >
			
			<div class="matrix-row" ng-show="vm.bDebateSelected" ng-click="vm.bDebateSelected = !vm.bDebateSelected">{{vm.selectedDebate.title}}</div>
			
			<button ng-hide="vm.bShowArticleMatrix && vm.bDebateSelected" ng-click="vm.bShowArticleMatrix=true;vm.bDebateSelected=true">
				<i class="fa fa-angle-double-left" aria-hidden="true" ></i>matrix
			</button>
			
			<button ng-show="vm.bShowArticleMatrix && vm.bDebateSelected" ng-click="vm.bShowArticleMatrix = false;;vm.bDebateSelected=true">
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>bubble
			</button>

		</div>
	</section>

	
    <section id="matrix" ng-show='vm.bShowArticleMatrix && vm.bDebateSelected'>
    
		
		<div ng-show="vm.bDebateSelected">
        	<div id="fade-left"></div>
 			<div id="fade-right"></div>
        	<div> <!-- articles -->
	    		<div class="matrix-columns">
	    			<div ng-repeat="(keyA, valueA) in vm.articles">
						
						<div class="matrix-column" ng-show="vm.bShowArticleMatrix" ng-mouseenter="vm.gotoAnchor()" ng-click="vm.showArticle(keyA, $event)">
								
							<!--ng-bind-html figure class="avatar avatar-sm" ng-mouseover="vm.showAuthor()"></figure-->
							<div class="dp-matrix-head">{{valueA.headline}}</div>
							
							<div class="dp-matrix-text" ng-mouseenter="vm.gotoAnchor()">
								<!--{{valueA.published.date}}
								{{valueA.subheadline}}
								{{valueA.teaser}}
								{{valueA.text}}-->
								<div compile-txt ng-bind-html=valueA.text_trusted></div>
							</div>
						</div>
	    			</div>

					<!-- the moving articles indicator -->
		    		<div id="indicator-article" class="indicator" ng-style=vm.articleIndicatorStyle ng-show="vm.bDebateSelected">
						
			
						<div class="indicator-line" ng-style=vm.indicatorColor></div>
						<pie-container class="pie-container-pro" ng-repeat="i in vm.voteProArrayFromNumberOfLastThesis()">
							<pie class="pie-pro"></pie>
						</pie-container>
						<div class="indicator-highlight" ng-style="vm.articleIndicatorStyleHighlight"></div>

						  <pie-container class="pie-container-con" ng-repeat="i in vm.voteConArrayFromNumberOfLastThesis()">
						    <pie class="pie-con"></pie>
						  </pie-container>

						<div class="indicator-text">{{vm.lastThesisText}}</div>
					</div>
	    		</div>
	    	</div>

			<!--div> <- article full ->
		    	<div class="matrix-details" ng-show="vm.bShowArticle">
		    			buh!
		    	</div>
		    </div-->


			<div> <!-- author -->
		    	<div class="matrix-details" ng-show="vm.bShowAuthor">
		    		{{vm.article.author}}
		    	</div>
		    </div>




 			<!--div class="indicator">
 				<div class="indicator-line indicator-red"></div>
 				<div class="indicator-highlight indicator-red"></div>
 				<div class="indicator-text">bla</div>
 				
 			</div-->
    	</div>

	</section>

	<section id="visual" ng-show='!vm.bShowArticleMatrix && vm.bDebateSelected'>
		<div>
			<button class="button-bubble">Artikel</button>
			<button class="button-bubble">Autoren</button>
			<button class="button-bubble" visited>Thesen</button>
		</div>
		<d3bubble-me class="bubble-chart" chart-data="vm.bubbleData"></d3bubble-me>
	</section>
		
	<!--br>
	<hr>
	{{vm.debattes}}-->
</div>