<div ng-controller="tscMatrixViewCtrl as vm" ng-init="vm.activate()">
    
	
	<!--ul class="dp-debate-statistics">
		<li>

			
		</li>
	</ul-->
	<section id="content-meta">
		<h3>
			<!--i class="fa fa-comments" aria-hidden="true"></i-->
			<figure class="avatar avatar-lg">
        		<img src="resources/favicon.svg" /> 
   			</figure>
   			{{vm.debattes.length}} Debatten
			
			<!--figure class="avatar avatar-lg" data-initial="{{vm.debattes.length}}" style="background-color: #5764c6;"></figure   »« --> 
		</h3>
	</section>

    <section id="content">
    
    	<div ng-repeat="(key, value) in vm.debattes" >
			
			
			<div class="matrix-row">
				<i class="fa fa-comments" aria-hidden="true" ng-click=vm.showArticlesMatrix(key)> {{value.title}}</i>
			</div>
    		<div class="matrix-columns">
    			<div ng-if="(vm.articles[0].debate == key)" ng-repeat="(keyA, valueA) in vm.articles">
					<div ng-hide="vm.bShowDetails">
						<div class="matrix-column" ng-click="vm.showArticle(keyA)" ng-hide="bDetailVisible = !bDetailVisible">
							
							<figure class="avatar avatar-sm" ng-mouseover="vm.showAuthor()"></figure>

							<div ng-bind-html=valueA.headline class="dp-matrix-head"></div>
							<div class="dp-matrix-text">
								{{valueA.published.date}}
								
								{{valueA.subheadline}}
								{{valueA.teaser}}
								{{valueA.text}}
								<div ng-bind-html=valueA.text></div>
							</div>
						</div>
					</div>

					<div class="matrix-details" ng-show="vm.bShowDetails">
    					buh!
    				</div>

    				<!--div>
    					{{valueA.author}}
    				</div>

    				<div>
    					{{valueA.author}}
    				</div-->
    		</div>


    	</div>


    	<!--div>

    		<div class="matrix-column">
		        
		        <div class="card">
			        
		        	<div class="card-header">
		
		        	    <h4 class="card-title">{{value.title}}</h4>
		        		<h6 class="card-meta">{{value.published.date}}</h6>
		        	</div>
		        	<div class="card-body flip-container">
		        		<div class="flip-object" ng-class="vm.class">
			        		<figure class="flip-front">
			        			{{value.teaser}} ...
			        		</figure>
			        		<figure class="flip-back">
		    					<d3bubble-me chart-data="10,20,30,40,60"></d3bubble-me>
		    				</figure>
						</div>
	    			</div>
		    		<div class="card-footer">
		        		<a class="btn btn-default" href="#articles/{{value.id}}">zu den Artikeln ... </a>
		    		</div>
			    	
				</div>
			</div>
		</div-->
	</section>


	<!--br>
	<hr>
	{{vm.debattes}}-->
</div>